PORT=5000

#POSTGRESQL SETUP
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_PASS=
POSTGRESQL_DB=
DATABASE_URL=

#INFLUX SETUP
INFLUX_URL=
INFLUX_TOKEN=
INFLUX_ORG=
INFLUX_BUCKET=

#MQTT
MQTT_HOST=
MQTT_PORT=
MQTT_TOPIC=
RABBITMQ_URL=

#GEMINI
GEMINI_API_KEY=

#TELEGRAM
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# JWT
JWT_SECRET=