.navbar{

height:70px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 60px;

box-shadow:0 2px 8px rgba(0,0,0,.05);

position:sticky;

top:0;

z-index:100;

}

.logo{

font-family:"Outfit";

font-size:28px;

font-weight:800;

color:#14532d;

}

.navbar ul{

display:flex;

gap:40px;

list-style:none;

}

.navbar li{

font-size:15px;

font-weight:500;

cursor:pointer;

transition:.3s;

}

.navbar li:hover{

color:#16a34a;

}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar ul a {
    color: inherit;
}

.navbar ul a:hover {
    color: #169653;
}